.conteiner-img-header{
    background-image: url(img/bg-num1.png);
    height: 898px;
    background-repeat:no-repeat;
}
.barmargin{
    border-bottom: 1px solid #86878c;
}
.text-font{
    font-size: 16px;
}
.text-gen-gauche{
    text-align:right; 
    margin-top: 60px; 
}
.display-flex{
    display: flex;
    margin: 70px 0;
    font-size: 14px;
    padding: 0;
    font-family:'Segoe UI',regular, sans-serif;
}
.image-gen{
    margin: 0 15px;
}
.titre-gen{
    text-align: center;
    margin-top: 70px;
}

.text-gen-droit{
    margin-top:37px;
}
.point {
    list-style: none;
  }
.point::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 10px;
    margin-left: 0;
}
.conteiner-img-enseignement{
    background-image: url(img/bg-num3.png);
    height: 444px;
    background-repeat:no-repeat;

}
.container-fluid{
    padding: 0 !important;
}
.small{
    font-size: 14px !important;
}
.img-bg-contact{
    background-image: url(img/bgContact.png);
    height: 786px;
    background-repeat:no-repeat;
}
.bg-color-contact{
    border-bottom: 2px solid white;  
}
.noborder{
    border-width:0px;
    border:none;
}
.ligne{
    border-bottom: 2px solid white; 
    width: 45px;
}
.ligne-email{
    background-color:#a10323;
    border-bottom: 2px solid white; 
    width: 480px;
}
.ligne-codepostal{
    background-color:#a10323 ;
    border-bottom: 2px solid white; 
    width: 120px;
}
.ligne-ville{
    background-color:#a10323 ;
    border-bottom: 2px solid white; 
    width: 209px;
}
.bg-color-textarea{
        background-color:#a10323 ;
    border: 2px solid white; 
}
.ligne-nom{
    background-color:#a10323 ;
    border-bottom: 2px solid white; 
    width: 180px;
}
.jumbotro {
    position: relative;
    top: 50% ;
    transform: translateY(-50% );
}
.headerhover:hover {
    background-color: #d31f44;
    font-family:bolder;
  }
.whitehover:hover{
    background-color: white;
    color: #d31f44 !important;
    font-family:bolder;
}
.title {
    font-size: 30px;
    color: white;
    }
    
    footer {
    min-height: 150px;
    background-color: #3E3E3E;
    }
    
    .section5 {
    text-align: center;
    font-family: sans-serif;
    font: size 35px;
    color: white;
    background-image: url(img/acs-mockup.png);
    padding: 50px;
    min-height: 300px;
    margin: 0;
    }
    
    .section6 {
    padding: 50px;
    background-color: white;
    color: black;
    min-height: 300px;
    
    }
    
    .img-bg-témoignages {
    background-image: url(img/temoignage-bg.png);
    min-height: 602px;
    
    }  
    .section9 {
    min-height: 251px;
    }
    .group {
        position: relative;
      }  
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #d31f44;
      }
      
      .group:hover .overlay {
        opacity: 0.6;
      }
      
      .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }
